.content_container {
}
@media (min-width: 900px) {
  .content_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    column-gap: 80px;
  }
}

.container {
  height: 100vh;
}
.title {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 30px;
  margin-bottom: 40px;
}
@media (min-width: 960px) {
  .title {
    text-align: center;
  }
}
.card_container {
  margin-top: 20px;
}
