.container {
  height: 100vh;
}
.title {
  font-size: 30px;
  text-align: center;
  padding: 20px;
  color: cadetblue;
}
.title_password {
  font-size: 24px;
  padding: 10px;
  color: cadetblue;
}
@media (min-width: 960px) {
  .title_password {
    text-align: center;
  }
}
.text_container {
  width: 250px;
  margin: 0 auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.label {
  display: block;
  font-size: 18px;
  font-weight: bold;
}
.input {
  padding: 10px;
  width: 100%;
  border: solid 2px;
}

.button_cont {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}
.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
.button {
  width: 100%;
  padding: 5px;
  border: solid 2px;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.8s;
  overflow: hidden;
  cursor: pointer;
}
.wrong_pass {
  text-align: center;
  margin: 20px;
  font-size: 20px;
}
